<ion-tabs main color="light">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="controls">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Controls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="bluetooth"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
