

<ion-content [fullscreen]="true" class="background">
  <ion-img src="/assets/img/logo-floatplus.png"></ion-img>

  <ion-grid class="grid">
    <ion-row>
      <ion-col offset="3" size=3>
        <ion-label>SPEED:</ion-label>
      </ion-col>
      <ion-col class="box" size=2>
        <div>
          <ion-label>{{ this.rangeVal }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-range min="-100" max="100" (ionChange)="setValue($event)" (touchend)="sendMessage()" [(ngModel)]="rangeVal" pin="true">
          <ion-label slot="start">-100</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="3" size=6>
        <ion-button id="stopButton" class="remote-button" size="medium" expand="block" color="danger" fill="outline" (click)="stop()">
          <p>STOP</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
