.remote-button {
    --border-radius: 2px;
    text-transform: uppercase;
    min-height: 50px;
    font-size: 1em
}

.background{
    --background: linear-gradient(#051937,#008793);
}

.grid {
    margin-top: 50px;
}

.box {
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
}
