<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button (click)="scan()">
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list> 
    <ion-item ion-item *ngFor="let device of devices">
      <ion-label>{{ device.name || 'Unnamed' }} | {{ device.id }} | RSSI: {{ device.rssi }}</ion-label>
      <button (click)="bleConnect(device)">
        Connect
      </button>  
    </ion-item>

   </ion-list> 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>